<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.sdkj.bbcat"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>

    <permission android:name="com.sdkj.bbcat.permission.C2D_MESSAGE"
                android:protectionLevel="signature"/>
    <uses-permission android:name="com.sdkj.bbcat.permission.C2D_MESSAGE"/>


    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>


    <application
        android:name=".BbcatApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.loginandregister.WelcomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SearchActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.doctor.MapActivity"
                  android:screenOrientation="portrait"
            />
        <activity
            android:name=".activity.MoreTagsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.MedicalOnlineActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.HospitalDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.DoctorListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.PicScannerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.AskActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.CatDortorActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.bracelet.NewFoodRecordActivity"
            android:screenOrientation="portrait"/>


        <activity
            android:name=".activity.PublishActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.MyDynamicActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.doctor.DoctorDetailActivity"
            android:screenOrientation="portrait">
            
        </activity>

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.loginandregister.FirstInstallActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.loginandregister.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.bracelet.VaccineActivity"
                  android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.loginandregister.RegisterStep1Activity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.loginandregister.RegisterStep2Activity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.bracelet.SetNotifyActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.loginandregister.FindScreteFirstStepActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.loginandregister.RegisterStep3Activity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.loginandregister.FindScreteSecondStepActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.loginandregister.FindScreteThirdStepActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.loginandregister.FillInfosFirstActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.loginandregister.FillInfosTwoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.loginandregister.FillInfosEndActivity"
            android:screenOrientation="portrait"/>


        <activity
            android:name=".activity.DetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.QunzuActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.LiaotianshiActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.AddFriendsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.AroundActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.CreateQunzuActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.DelQunzuActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.news.NewsDetailActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.news.NewsListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.news.DiaryListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.doctor.DoctorActActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.doctor.SelectAreaActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.bracelet.FootPrintActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.news.InfoListActivity"
            android:screenOrientation="portrait"/>

        <!-- 环信相关配置-->
        <meta-data android:name="EASEMOB_APPKEY" android:value="maodu#bubumaochat"/>
        <!--<meta-data android:name="EASEMOB_APPKEY"  maodu#bubumaochat android:value="easemob-demo#chatdemoui" />-->
        <!-- 声明sdk所需的service SDK核心功能-->
        <service android:name="com.easemob.chat.EMChatService"/>
        <receiver android:name="com.easemob.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>
        <!-- 百度地图所需的service -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"/>
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="TXsLoOzbW3Sni6wOADyqvTdt"/>

        <!--正式：TXsLoOzbW3Sni6wOADyqvTdt-->
        <!--公司测试：Ha8MG82nP9OWfWprGL8hy7P1-->
        <activity
            android:name=".activity.community.ChatActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".hx.activity.GroupDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity
            android:name=".hx.activity.NewGroupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".hx.activity.GroupPickContactsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity
            android:name=".hx.activity.AddContactActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity
            android:name=".hx.activity.NewFriendsMsgActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".hx.activity.ChatRoomDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".hx.activity.ExitGroupDialog"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".hx.activity.ImageGridActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".hx.activity.RecorderVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name="com.easemob.easeui.ui.EaseShowVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name="com.easemob.easeui.ui.EaseShowBigImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize">
        </activity>


        <activity
            android:name=".activity.bracelet.BodyFeaturesActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.community.AroundPeopleActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.bracelet.BabyNotesActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.bracelet.FeedNotesActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.bracelet.InoculationActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.bracelet.AddFeedNotesActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.bracelet.AddInoActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.bracelet.AllBodyFeaActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.ComDetailActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.loginandregister.PersonInfosActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.loginandregister.NickNameActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.loginandregister.SexActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.loginandregister.StateActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.loginandregister.PersonalCenter"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.loginandregister.MyFollowActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.loginandregister.MyCollectActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.loginandregister.BlacklistActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.bracelet.BabyFoodsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.bracelet.DiseaseRecordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.doctor.OnlineQAActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.DocSearchActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent100371282"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <service android:name=".BluetoothBle.BleIn_BService"/>
        <service android:name=".BluetoothBle.BleIn_DActionService"/>
        <!-- 友盟配置-->
        <meta-data android:name="UMENG_APPKEY" android:value="56a58dbce0f55a775d000a4d"></meta-data>
        <meta-data android:name="UMENG_CHANNEL" android:value="Channel ID"/>
    </application>

</manifest>
